<!DOCTYPE html>
<html lang="en">

<head>

  <title>검색용?</title>
  <%- include('./include/head')%>
</head>

<body>
  <%- include('./include/header')%>
  <!-- 찾은 데이터 보여주기 -->
  <a href="/">go home</a>
  <a href="/blog">blog</a>


  <h2>콘솔창에 떠있삼...</h2>
  <!-- if문 이용해서  -->
  <!-- get title 존재할 떄와 안할때..? -->
</body>

</html>