<!-- root 화면 -->
<!DOCTYPE html>
<html lang="ko">

<head>


  <%- include('./include/head')%>
  <title>Blog service main page</title>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>

  <%- include('./include/header')%>

  <h1><a href="/blog">go to blog</a></h1>
  <h4>로그인 (x)</h4>


  <!-- 디자인 ? full page로 현재시간, 현재 위치 써놓고 로그인 - 어디엔가 할 수 있도록. whale 참고..-->
</body>

</html>